[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/rsokolewicz/hugo-theme-terminal

[submodule "public"]
    path = public
    url = https://github.com/rsokolewicz/rsokolewicz.github.io.git
    branch = master